#whole {
  height:100px;
  width:500px;
  color: black;
  font-size: 24px;
  border:5px solid black;
  padding: 100px;
  padding-bottom: 100px;
  font-family: 'Bebas Neue', cursive;
  margin: auto;
  text-align: center;
  text-emphasis: white;
  background-image: url("/chuck-norris-movies.webp");
  background-size: cover
}

#button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  font-family: 'Bebas Neue', cursive;
  padding: .5cm;
}